html, body {
    overflow-x: hidden;
}

.filtro{
    background-color:#D6B46A;
}

.atributes{
    padding-bottom:1%;
    border-bottom:2px solid grey;
}

.atributes span{
    font-weight: bold;
    padding-right: 4%;
}

.atributes .dado{
    color:#D5B46A;
}

.questao p{
    padding-top:1%;
    text-align:justify;
}

.questao-box{
    padding-top:2%;
    padding-bottom:2%;
}

.alternativaCheck:hover {
    background-color:red;
  }

/*HELPERS*/

.mTop1{
  margin-top:1%;
}
.mTop2{
  margin-top:2%;
}
.mTop3{
  margin-top:3%;
}
.mTop4{
  margin-top:4%;
}
.mTop5{
  margin-top:5%;
}
.mTop6{
  margin-top:6%;
}
.mTop7{
  margin-top:7%;
}
.mTop8{
  margin-top:8%;
}
.mTop9{
  margin-top:9%;
}
.mTop10{
  margin-top:10%;
}

.pTop1{
  padding-top:1%;
}
.pTop2{
  padding-top:2%;
}
.pTop3{
  padding-top:3%;
}
.pTop4{
  padding-top:4%;
}
.pTop5{
  padding-top:5%;
}
.pTop6{
  padding-top:6%;
}
.pTop7{
  padding-top:7%;
}
.pTop8{
  padding-top:8%;
}
.pTop9{
  padding-top:9%;
}
.pTop10{
  padding-top:10%;
}

/*END HELPERS*/

/* CUSTOM CHECKBOX */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #D5B46A;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* END CUSTOM CHECKBOX */

.botaoResponder{
    padding:10px;
    background-color:#D5B46A;
    color:#fff;
}

.botaoResponder:hover{
    transition:0.5s;
    background-color:#ad8b41;
}

.textoResposta{
  padding-top:8%;
  font-size:18px;
}

.selectInput100{
  background-color:#F7F7F7;
  outline: none;
  font-size: 12px;
  height:38px;
  width:80%;
  border:none;
  -moz-appearance: none;
}

.boxInput100:hover{
  transition:0.1s;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(150,150,150,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(150,150,150,1);
  box-shadow: 0px 0px 7px 0px rgba(150,150,150,1);
  border-color:#ad8b41;
}

@-moz-document url-prefix() {
  .selectInput100{
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-position: right;
  }
}

.selectInput100:-moz-focusring{
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.boxInput100{
  border-radius:25px;
  border:1px solid #E8E9E9;
  width:100%;
  background-color:#F7F7F7;
  height: 40px;
}

.login{
  float:right;
}

@media only screen and (max-width:700px){
  .row{
    padding-left:4%;
    padding-right:4%;
  }
}

.login a{
  font-family: "sans-serif";
}

.login a:hover{
  color:#ad8b41;
}

.questao-box{
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
  -o-animation: fadein 2s; 
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.item{
  float:left;
  position:relative;
  display:block;
  padding: 0px 15px 0px 15px;
}

.selecionado a{
  color:#ad8b41 !important;
}

.item a{
  font-family: Poppins;
  text-decoration: none;
  color:#000;
  font-size:20px;
}

.item a:hover{
  color:#ad8b41;
}

.logo{
  margin-right: 50px;
}

.facebookIcon{
  background-color:#3b5998;
  color:white;
  font-size: 25px;
  text-align: center;
  padding-left:18px;
  padding-right:14px;
  padding-top:10px;
  padding-bottom:10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius:10%;
  margin-left: 50px;
}

.facebookIcon:hover{
  background-color:#48649F;
}

.facebookIcon i{
  color:white !important;
}

.instagramIcon{
  background-color:#111;
  color:white;
  font-size: 25px;
  text-align: center;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius:10%;
  margin-left: 5px;
}

.instagramIcon:hover{
  background-color:#333;
}

.instagramIcon i{
  color:white !important;
}

.login{
  margin:1%;
  margin-left: -3% !important;

}

.login a{
  font-family: "Arial" !important;
}

@media only screen and (min-width:990px){
  .mobile-navbar{
    display:none;
  }
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #ad8b41;
  color: white;
}